---
// este es el frontmatter
import Layout from "../layouts/Layout.astro";
import LandingHeader from "../components/LandingHeader.astro";
import HomeSection from "../components/HomeSection.astro";
import PanelSection from "../components/PanelSection.astro";
import ActionsSection from "../components/ActionsSection.astro";
import ControlSection from "../components/ControlSection.astro";

// import { realtimeGet } from "../javascript/realtime";

// let proyect = await realtimeGet();
// const nameProyect = Object.keys(proyect)[0];
const nameProyect = 'CultivoDispFinal'
---

<Layout title={`Aplicación del sistema de riego inteligente ${nameProyect}`}>
	<LandingHeader nameProyect={nameProyect} />
	<main
		class="snap-y snap-mandatory relative w-full h-screen overflow-auto scroll-m-0"
	>
		<div class="snap-center">
			<HomeSection />
		</div>
		<div class="snap-center">
			<PanelSection nameProyect={nameProyect} />
		</div>
		<div id="actions" class="snap-center" style="display:none">
			<ActionsSection nameProyect={nameProyect} />
		</div>
		<div id="control" class="snap-center" style="display:none">
			<ControlSection nameProyect={nameProyect} />
		</div>

		<!-- {
			userAuth && (
				<section>
					<h1>Visible Condicionalmente</h1>
					<p>
						Esta sección es visible solo cuando 'mostrarSeccion' es
						verdadero.
					</p>
				</section>
			)
		} -->
	</main>
</Layout>
</script>
<script src="../javascript/index.js"></script>
<script src="../javascript/functions.js"></script>
<script src="../javascript/messaging.js"></script>
